{{#if item}}
<img src="{{{extension "item" item ".png"}}}" />
{{#if market}}<div class="market m{{market}}"></div>{{/if}}
<h1>{{character}}</h1>
Now {{action}} {{quantity}} {{itemName item}} at {{islandName endIsland}}
({{until endTime}}).

{{else}}
<img src="craft{{craftId}}.png" />
<h1>{{character}}</h1>
Now {{action}} {{islandName endIsland}} ({{until endTime}}).
{{/if}}
